.breadcrumbs {
	padding: 2.25rem 0 1.25rem;
	// .breadcrumbs__list
	&__list {
		display: flex;
		flex-wrap: wrap;
	}
	// .breadcrumbs__item
	&__item {
		display: flex;
		align-items: center;
		font-size: 1.125rem;
		line-height: 124%;
		color: #858585;
		&:not(:last-child) {
			&::before {
				margin: 0 0.5rem;
				font-size: em(8);
				color: currentColor;
				order: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				@extend %ic, .icon-chevron-right;
			}
		}
	}
	// .breadcrumbs__link
	&__link {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
		&.active {
			pointer-events: none;
			color: #222;
		}
	}
}
