.promo {
	padding: rem(30) 0 rem(30);
	@media (min-width: $md5) {
		padding: rem(10) 0 rem(30);
	}
	// .promo__container
	&__container {
	}
	// .promo__content
	&__content {
		display: grid;
		gap: 1.5rem;
		@media (min-width: $md3) {
			gap: rem(30);
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .promo__column
	&__column {
		display: flex;
		flex-direction: column;
		position: relative;
	}
	// .promo__offer
	&__offer {
		@media (min-width: $md5) {
			border-radius: 1.25rem;
			color: #fff;
			padding: 2rem 1.5rem;
			background: url("@img/star.svg") calc(100% + 0.5rem) calc(100% + 0.5rem) / 3.5625rem 3.5625rem no-repeat, #222;
		}
		@media (min-width: $md2) {
			background: url("@img/star.svg") calc(100% + 0.5rem) calc(100% + 0.5rem) / 6.5625rem 6.5625rem no-repeat, #222;
			padding: 3rem 2.5rem;
		}
		@media (min-width: $md0) {
			padding: 4.88rem 2.5rem;
		}
	}
	// .promo__title
	&__title {
		font-size: 2.3125rem;
		@media (min-width: $md1) {
			font-size: 2.875rem;
		}
		@media (min-width: $md0) {
			font-size: 3.125rem;
		}
	}
	// .promo__benefits
	&__benefits {
		gap: rem(10);
		margin-top: 1.5rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@media (min-width: $md5) {
			display: flex;
			flex-wrap: wrap;
		}
		@media (min-width: $md2) {
			margin-top: 2.5rem;
			gap: 1.25rem;
		}
	}
	// .promo__benefit
	&__benefit {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		border-radius: 1.875rem;
		border: rem(1) solid;
		font-weight: 700;
		line-height: 120%;
		padding: 0.625rem 0.9375rem 0.625rem 0.625rem;
		&::before {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 1.25rem;
			height: 1.25rem;
			@media (min-width: $md2) {
				width: 1.5rem;
				height: 1.5rem;
			}
		}
		@media (min-width: $md2) {
			padding: 0.875rem 1.5rem 0.875rem 0.875rem;
			font-size: 1.25rem;
		}
	}
	// .promo__form
	&__form {
		border-radius: 1.25rem;
		background: #f4f7fb;
		margin-top: 1.5rem;
		padding: 1.25rem;
		@media (min-width: $md5) {
			padding: 1.875rem 2.5rem;
			margin-top: 1.87rem;
		}
	}
	// .promo__form-caption
	&__form-caption {
	}
	// .promo__form-fields
	&__form-fields {
		display: grid;
		gap: 1rem;
		margin-top: 1.25rem;
		@media (min-width: $md5) {
			gap: 1.25rem;
			margin-top: 1.87rem;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md1) {
			display: flex;
		}
		.btn {
			min-width: rem(173);
		}
	}
	// .promo__image
	&__image {
		display: none;
		@media (min-width: $md5) {
			display: block;
			border-radius: rem(20);
			overflow: hidden;
			flex: 1 1 auto;
			background: $text;
			min-height: 30rem;
		}
		@media (min-width: $md4) {
			min-height: 44.4375rem;
		}
	}
	// .promo__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		@media (min-width: $md5) {
			gap: 1.25rem;
			align-items: flex-end;
			padding: 3.12rem;
			position: absolute;
			inset: 0;
			z-index: 2;
		}
	}
	// .promo__item
	&__item {
		border-radius: 1.25rem;

		padding: 1.25rem;
		display: flex;
		align-items: center;
		gap: 0.94rem;
		font-size: 1.0625rem;
		font-weight: 500;
		line-height: 115%;
		border-radius: 1.25rem;
		background: #f4f7fb;
		@media (min-width: $md5) {
			font-size: 1.1875rem;
			max-width: 16.375rem;
			background: rgba(255, 255, 255, 0.55);
		}
		&::before {
			flex-shrink: 0;
			background: #fff;
			border-radius: 50%;
			color: $red;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 1.875rem;
			height: 1.875rem;
			font-size: 1.25rem;
			@media (min-width: $md5) {
				font-size: 1.5rem;
				width: 2.5rem;
				height: 2.5rem;
			}
		}
	}
}

.services {
	padding: rem(30) 0 rem(30);
	@media (min-width: $md4) {
		padding: rem(60) 0 rem(30);
	}
	@media (min-width: $md2) {
		padding: rem(100) 0 rem(30);
	}
	// .services__container
	&__container {
	}
	// .services__title
	&__title {
	}
	// .services__slider
	&__slider {
		margin-top: 2rem;
		@media (min-width: $md4) {
			margin-top: rem(40);
			display: grid;
			align-items: start;
			gap: rem(30);
			grid-template-columns: repeat(2, 1fr);
			.swiper-wrapper {
				display: contents;
			}
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// .services__card
	&__card {
		border-radius: 1.25rem;
		border: rem(1.5) solid #f6f6f6;
		display: flex;
		flex-direction: column;
		height: auto;
		padding: 1.25rem;
		@media (min-width: $md5) {
			padding: 2rem;
		}
	}
	// .services__card-icon
	&__card-icon {
		align-self: flex-end;
		& img {
			width: 4rem;
			height: 4rem;
			@media (min-width: $md5) {
				width: 4.625rem;
				height: 4.625rem;
			}
		}
	}
	// .services__card-name
	&__card-name {
	}
	// .services__card-desc
	&__card-desc {
		line-height: 124%;
		font-size: 1.0625rem;
		margin-top: 1rem;
		@media (min-width: $md5) {
			margin-top: 1.25rem;
			font-size: 1.1875rem;
		}
	}
	// .services__card-btns
	&__card-btns {
		display: flex;
		flex-wrap: wrap;
		margin-top: 1.25rem;
		gap: rem(10);
		@media (min-width: $md5) {
			gap: 1.25rem;
			margin-top: 1.88rem;
		}
	}
	// .services__card-btn
	&__card-btn {
	}
	&__pagination {
		@media (min-width: $md4) {
			display: none;
		}
	}
}

.banner {
	padding: rem(30) 0 rem(30);
	@media (min-width: $md4) {
		padding: rem(60) 0 rem(30);
	}
	@media (min-width: $md2) {
		padding: rem(100) 0 rem(30);
	}
	// .banner__container
	&__container {
	}
	// .banner__content
	&__content {
		border-radius: 1.25rem;
		color: #fff;
		display: grid;
		align-items: center;
		gap: rem(30);
		background: url("@img/star.svg") calc(100% - 0.75rem) 7rem / 4.75rem 4.75rem no-repeat, $text;
		padding: 1.87rem 1.25rem;
		@media (min-width: $md5) {
			padding: 2.5rem;
		}
		@media (min-width: $md3) {
			background: url("@img/star.svg") 50% calc(100% - 1rem) / 7.4375rem 7.4375rem no-repeat, $text;
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .banner__main
	&__main {
	}
	// .banner__title
	&__title {
	}
	// .banner__list
	&__list {
		display: flex;
		flex-direction: column;
		margin-top: 2rem;
		gap: 1rem;
		@media (min-width: $md5) {
			gap: 1.25rem;
			margin-top: 2.5rem;
			flex-wrap: wrap;
			flex-direction: row;
		}
	}
	// .banner__list-item
	&__list-item {
		display: flex;
		align-items: center;

		gap: 0.5rem;

		font-size: 1.25rem;
		font-weight: 700;
		line-height: 120%;
		@media (min-width: $md4) {
			padding: 0.875rem 1.5rem 0.875rem 0.875rem;
		}
		&::before {
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 1.5rem;
			height: 1.5rem;
		}
	}
	// .banner__btn
	&__btn {
		margin-top: 1.88rem;
		width: 100%;
		@media (min-width: $md5) {
			width: auto;
		}
	}
	// .banner__image
	&__image {
		& img {
			border-radius: 0.625rem;
			min-height: 15rem;
		}
	}
}

.products {
	padding: rem(30) 0 rem(30);
	@media (min-width: $md4) {
		padding: rem(60) 0 rem(30);
	}
	@media (min-width: $md2) {
		padding: rem(100) 0 rem(30);
	}
	// .products__container
	&__container {
	}
	// .products__title
	&__title {
	}
	// .products__slider
	&__slider {
		margin-top: 2rem;
		overflow: visible;
		@media (min-width: $md4) {
			margin-top: 2.5rem;
			display: grid;
			gap: rem(30);
			grid-template-columns: repeat(3, 1fr);
			.swiper-wrapper {
				display: contents;
			}
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(5, 1fr);
		}
	}
	// .products__pagination
	&__pagination {
		@media (min-width: $md4) {
			display: none;
		}
	}
}

.product {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 1.25rem;
	border: rem(1.5) solid #f6f6f6;
	padding: 1.25rem;
	transition: background-color 0.3s ease;
	&.swiper-slide {
		width: 18.4375rem;
		height: auto;
		&.swiper-slide-active {
			background: #f4f7fb;
			.product__image {
				&::before {
					background-color: #fff;
				}
			}
		}
		@media (min-width: $md4) {
			width: 100%;
		}
	}
	@media (any-hover: hover) {
		&:hover {
			background: #f4f7fb;
			.product__image {
				&::before {
					background-color: #fff;
				}
				& img {
					transform: scale(1.15);
				}
			}
		}
	}
	// .product__image
	&__image {
		position: relative;
		width: 8.0625rem;
		height: 7.3125rem;
		flex-shrink: 0;
		margin-top: 1.38rem;
		margin-left: 0.75rem;
		z-index: 1;
		& img {
			transform: scale(1);
			transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}
		&::before {
			content: "";
			position: absolute;
			top: -1.37rem;
			left: -0.75rem;
			width: 7.9375rem;
			height: 7.9375rem;
			border-radius: 50%;
			background: #f4f7fb;
			transition: background-color 0.3s ease;
			z-index: -1;
		}
		&--center {
			margin-top: 0;
			margin-left: 0;
			margin-bottom: 1rem;
			& ~ .product__btn {
				margin-top: 3rem;
			}
			&::before {
				top: 0;
				left: 0;
			}
		}
	}
	// .product__name
	&__name {
		margin-top: 2.5rem;
		margin-bottom: auto;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	// .product__btn
	&__btn {
		margin-top: 1.25rem;
	}
}

.support {
	padding: rem(30) 0 rem(30);
	@media (min-width: $md4) {
		padding: rem(60) 0 rem(30);
	}
	@media (min-width: $md2) {
		padding: rem(100) 0 rem(30);
	}
	// .support__container
	&__container {
	}
	// .support__title
	&__title {
		max-width: 63.375rem;
	}
	// .support__body
	&__body {
		margin-top: 2rem;
		@media (min-width: $md4) {
			margin-top: rem(40);
		}
		@media (min-width: $md1) {
			display: grid;
			align-items: center;
			grid-template-columns: 4fr 1fr;
		}
	}
	// .support__slider
	&__slider {
		min-width: 0;
		max-width: 100%;
		overflow: visible;
		@media (min-width: $md2) {
			overflow: hidden;
		}
	}
	// .support__item
	&__item {
		border-radius: 1.25rem;
		border: rem(1.5) solid #f6f6f6;

		display: flex;
		flex-direction: column;
		height: auto;
		transition: background-color 0.3s ease;
		width: 18.4375rem;
		padding: 1.25rem;
		@media (min-width: $md2) {
			padding: 1.25rem 1.25rem 1.875rem 1.25rem;
			width: 100%;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: #f6f6f6;
			}
		}
	}
	// .support__item-image
	&__item-image {
		& img {
			border-radius: rem(10);
			aspect-ratio: 1;
		}
	}
	// .support__item-name
	&__item-name {
		margin-top: 1.25rem;
	}
	// .support__btn
	&__btn {
		margin: 1.5rem em(0) em(0) em(0);
		width: 100%;
		@media (min-width: $md5) {
			width: auto;
		}
		@media (min-width: $md1) {
			margin: 0 auto;
		}
	}
}

.consult {
	padding: rem(30) 0 rem(30);
	@media (min-width: $md4) {
		padding: rem(60) 0 rem(30);
	}
	@media (min-width: $md2) {
		padding: rem(100) 0 rem(30);
	}
	// .consult__container
	&__container {
	}
	// .consult__body
	&__body {
		border-radius: 1.25rem;
		background: #222;
		color: #fff;
		display: flex;
		flex-direction: column;
		padding: rem(30) rem(20);
		gap: 1.5rem;
		@media (min-width: $md5) {
			gap: 2rem;
			padding: 5rem 2.5rem;
		}
		@media (min-width: $md2) {
			align-items: center;
			flex-direction: row;
		}
		@media (min-width: $md1) {
			padding: 5rem 5.37rem 5rem 2.5rem;
		}
	}
	// .consult__main
	&__main {
	}
	// .consult__title
	&__title {
	}
	// .consult__desc
	&__desc {
		margin-top: 1.5rem;
		@media (min-width: $md5) {
			margin-top: 1.87rem;
		}
	}
	// .consult__list
	&__list {
		margin-top: 1.5rem;
		@media (min-width: $md5) {
			margin-top: 1.87rem;
		}
	}
	// .consult__list-item
	&__list-item {
		font-size: 1.0625rem;
		line-height: 124%;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		&::before {
			width: 1.5rem;
			height: 1.5rem;
			font-size: 1.5rem;
			aspect-ratio: 1/1;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&:not(:last-child) {
			margin-bottom: 0.88rem;
		}
		@media (min-width: $md5) {
			font-size: 1.1875rem;
		}
	}
	// .consult__form
	&__form {
		border-radius: 1.25rem;
		background: #fff;
		color: #222;
		display: flex;
		flex-direction: column;
		gap: rem(20);
		padding: 1.25rem;
		@media (min-width: $md5) {
			padding: 1.88rem;
		}
		@media (min-width: $md2) {
			flex: 0 0 30rem;
		}
		@media (min-width: $md1) {
			flex: 0 0 35rem;
		}
		.form__bottom {
			flex-direction: column;
			@media (min-width: $md1) {
				flex-direction: row;
			}
		}
	}
	// .consult__form-title
	&__form-title {
	}
}

.reviews {
	padding: rem(30) 0 rem(30);
	@media (min-width: $md4) {
		padding: rem(60) 0 rem(30);
	}
	@media (min-width: $md2) {
		padding: rem(100) 0 rem(30);
	}
	// .reviews__container
	&__container {
	}
	// .reviews__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .reviews__title
	&__title {
	}
	// .reviews__controls
	&__controls {
		display: none;
		@media (min-width: $md5) {
			display: flex;
			gap: 1.25rem;
		}
	}
	// .reviews__pagination
	&__pagination {
		@media (min-width: $md5) {
			display: none;
		}
	}
	// .reviews__prev
	&__prev {
	}
	// .reviews__next
	&__next {
	}
	// .reviews__slider
	&__slider {
		margin-top: 2rem;
		@media (min-width: $md4) {
			margin-top: 2.5rem;
		}
	}
	// .reviews__slide
	&__slide {
		border-radius: 1.25rem;
		display: flex;
		flex-direction: column;
		background: url("@img/review-pattern.png") 0 0 / cover no-repeat, #f4f7fb;
		height: auto;
		padding: 1.25rem 1.25rem;
		@media (min-width: $md4) {
			padding: 2.5rem 1.25rem;
		}
	}
	// .reviews__dialog
	&__dialog {
		border-radius: 1.25rem;
		line-height: 124%;
		border: rem(1) solid #f6f6f6;
		background: #fff;
		color: #858585;
		font-size: 0.875rem;
		padding: 0.75rem;
		max-width: 86%;
		@media (min-width: $md4) {
			max-width: 83%;
			font-size: 1rem;
		}
		@media (min-width: $md3) {
			padding: 0.9375rem;
			font-size: 1.0625rem;
		}
		&:not(:last-child) {
			margin-bottom: 1.25rem;
			@media (min-width: $md4) {
				margin-bottom: rem(9);
			}
		}
		&--input {
			background: #82b8ff;
			color: #222;
			margin-left: auto;
			&:not(:last-child) {
				margin-bottom: 1.25rem;
				@media (min-width: $md4) {
					margin-bottom: rem(30);
				}
			}
		}
	}
}

.about {
	padding: rem(30) 0 rem(30);
	@media (min-width: $md4) {
		padding: rem(60) 0 rem(30);
	}
	@media (min-width: $md2) {
		padding: rem(100) 0 rem(30);
	}
	// .about__container
	&__container {
	}
	// .about__body
	&__body {
		border-radius: 1.25rem;
		background: #f4f7fb;
		display: grid;
		gap: rem(30);
		padding: rem(30) rem(20);
		@media (min-width: $md5) {
			padding: 5rem 2.5rem;
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .about__offer
	&__offer {
		@media (min-width: $md2) {
			max-width: 32.6875rem;
		}
	}
	// .about__title
	&__title {
		color: #fe4c4c;
		br {
			@media (max-width: $md5) {
				display: none;
			}
		}
	}
	// .about__desc
	&__desc {
		margin-top: 1.25rem;
		@media (min-width: $md5) {
			margin-top: 1.88rem;
		}
	}
	// .about__btn
	&__btn {
		margin-top: 2rem;
		width: 100%;
		@media (min-width: $md5) {
			width: auto;
			margin-top: 3.12rem;
		}
	}
	// .about__numbers
	&__numbers {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.63rem;
		@media (min-width: $md4) {
			gap: 2rem;
		}
		@media (min-width: $md2) {
			gap: 4.38rem;
		}
		@media (min-width: $md0) {
			padding-right: 5.5rem;
		}
	}
	// .about__numbers-item
	&__numbers-item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
	}
	// .about__numbers-caption
	&__numbers-caption {
		line-height: 100%;
		font-size: 2.9375rem;
		@media (min-width: $md5) {
			font-size: 4.25rem;
		}
		@media (min-width: $md2) {
			font-size: 6.25rem;
		}
	}
	// .about__numbers-desc
	&__numbers-desc {
		line-height: 124%;
		max-width: 16.5rem;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
		@media (min-width: $md2) {
			font-size: 1.1875rem;
		}
	}
}

.news {
	padding: rem(30) 0 rem(60);
	@media (min-width: $md4) {
		padding: rem(60) 0;
	}
	@media (min-width: $md2) {
		padding: rem(100) 0;
	}
	// .news__container
	&__container {
	}
	// .news__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .news__title
	&__title {
	}
	// .news__controls
	&__controls {
		display: none;
		@media (min-width: $md5) {
			display: flex;
			gap: rem(20);
		}
	}
	// .news__pagination
	&__pagination {
		@media (min-width: $md5) {
			display: none;
		}
	}
	// .news__prev
	&__prev {
	}
	// .news__next
	&__next {
	}
	// .news__slider
	&__slider {
		margin-top: rem(40);
	}
	// .news__slide
	&__slide {
		border-radius: 1.25rem;
		border: rem(1.5) solid #f6f6f6;
		padding: 1.25rem;
		display: flex;
		flex-direction: column;
		height: auto;
	}
	// .news__top
	&__top {
		position: relative;
	}
	// .news__label
	&__label {
		position: absolute;
		top: 1.25rem;
		left: 1.25rem;
		border-radius: 0.3125rem;
		background: #f4f7fb;
		color: #222;
		padding: 0.625rem 0.9375rem;
		font-weight: 700;
		line-height: 120%;
		text-transform: uppercase;
		font-size: 0.75rem;
		@media (min-width: $md5) {
			font-size: 0.875rem;
		}
	}
	// .news__image
	&__image {
		& img {
			border-radius: 0.625rem;
			aspect-ratio: 1;
		}
	}
	// .news__body
	&__body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.75rem;
		flex: 1 1 auto;
		margin-top: 1.5rem;
		@media (min-width: $md5) {
			margin-top: 2.12rem;
		}
	}
	// .news__time
	&__time {
		color: #858585;
		font-size: 1rem;
		font-weight: 500;
		line-height: 115%;
	}
	// .news__caption
	&__caption {
		margin-bottom: auto;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #fe4c4c;
			}
		}
	}
	// .news__link
	&__link {
		margin-top: 0.875rem;
		color: #fe4c4c;
		font-size: 1rem;
		font-weight: 500;
		line-height: 115%;
		display: flex;
		align-items: center;
		gap: 0.25rem;
		&::before {
			order: 1;
			width: 0.875rem;
			height: 0.875rem;
			font-size: 0.75em;
			transition: transform 0.3s ease;
		}
		@media (min-width: $md5) {
			margin-top: 1.5rem;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: translate(0.5rem);
				}
			}
		}
	}
}
