<li class="product product--large@@className">
    <a href="/product.html" class="product__image">
        <img src="@@image" alt="Фото товара">
    </a>
    <a href="/product.html" class="product__name h4">@@name</a>
    <p class="product__desc text-block">@@desc</p>
    <div class="product__footer">
        <div class="product__price">
            от <span class="product__price-value h3">@@price&nbsp;₽</span>
        </div>
        <a href="/product.html" class="product__btn btn btn-primary-outline icon-chevron-right">Подробнее</a>
    </div>
</li>