body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: rem(375);
	min-height: 100%;
	line-height: normal;
	color: $text;
	background-color: #fff;
	margin-right: 0 !important;
	&:has(.header.open-menu) {
		@media (max-width: $md3) {
			overflow: hidden;
		}
	}
}

// ================== ОБОЛОЧКА ==============================

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: clip;
}

.page {
	flex: 1 1 auto;
	// overflow: hidden;
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================

[class*="__container"] {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 rem(20);
	@media (min-width: $md5) {
		box-sizing: content-box;
		max-width: rem(540);
	}
	@media (min-width: $md4) {
		max-width: rem(720);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: rem(1140);
	}
	@media (min-width: $md1) {
		max-width: rem(1320);
	}
	@media (min-width: $md0) {
		max-width: $maxWidthContainer;
	}
}

//=============== LAYOUT ===============================

.swiper-button-next,
.swiper-button-prev {
	&::after {
		display: none;
	}
	position: static;
	margin: 0;
	transform: none;
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	z-index: 2;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #858585;
	border: rem(1.5) solid #858585;
	&:disabled,
	&.swiper-button-disabled,
	&[aria-disabled="true"] {
		pointer-events: none;
		opacity: 0.4;
	}
	&.swiper-button-lock {
		display: none;
	}

	@media (any-hover: hover) {
		&:hover {
			background: $white;
			color: $green;
		}
	}
}

.swiper-button-prev {
	@extend %ic, .icon-left;
}
.swiper-button-next {
	@extend %ic, .icon-right;
}

.swiper-pagination {
	margin-top: 1.5rem;
	position: static;
	bottom: auto;

	display: flex;
	justify-content: center;
	&.swiper-pagination-lock {
		margin-top: 0;
	}
	.swiper-pagination-bullet {
		position: relative;
		width: 0.625rem;
		height: 0.625rem;
		--swiper-pagination-bullet-horizontal-gap: #{rem(5)};
		background: #dadada;
		opacity: 1;
		transition: all 0.3s ease 0s;
		&.swiper-pagination-bullet-active {
			background: $red;
		}
	}
}

.news {
	padding: rem(30) 0 rem(60);
	@media (min-width: $md4) {
		padding: rem(60) 0;
	}
	@media (min-width: $md2) {
		padding: rem(100) 0;
	}
	// .news__container
	&__container {
	}
	// .news__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .news__title
	&__title {
	}
	// .news__controls
	&__controls {
		display: none;
		@media (min-width: $md5) {
			display: flex;
			gap: rem(20);
		}
	}
	// .news__pagination
	&__pagination {
		@media (min-width: $md5) {
			display: none;
		}
	}
	// .news__prev
	&__prev {
	}
	// .news__next
	&__next {
	}
	// .news__list
	&__list {
		margin-top: rem(20);
		display: grid;
		gap: rem(20);
		@media (min-width: $md5) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md3) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md1) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	// .news__slider
	&__slider {
		margin-top: rem(40);
	}
	// .news__item
	&__item {
		border-radius: 1.25rem;
		border: rem(1.5) solid #f6f6f6;
		padding: 1.25rem;
		display: flex;
		flex-direction: column;
		height: auto;
	}
	// .news__top
	&__top {
		position: relative;
	}
	// .news__label
	&__label {
		position: absolute;
		top: 1.25rem;
		left: 1.25rem;
		border-radius: 0.3125rem;
		background: #f4f7fb;
		color: #222;
		padding: 0.625rem 0.9375rem;
		font-weight: 700;
		line-height: 120%;
		text-transform: uppercase;
		font-size: 0.75rem;
		@media (min-width: $md5) {
			font-size: 0.875rem;
		}
	}
	// .news__image
	&__image {
		& img {
			border-radius: 0.625rem;
			aspect-ratio: 1;
		}
	}
	// .news__body
	&__body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.75rem;
		flex: 1 1 auto;
		margin-top: 1.5rem;
		@media (min-width: $md5) {
			margin-top: 2.12rem;
		}
	}
	// .news__time
	&__time {
		color: #858585;
		font-size: 1rem;
		font-weight: 500;
		line-height: 115%;
	}
	// .news__caption
	&__caption {
		margin-bottom: auto;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #fe4c4c;
			}
		}
	}
	// .news__link
	&__link {
		margin-top: 0.875rem;
		color: #fe4c4c;
		font-size: 1rem;
		font-weight: 500;
		line-height: 115%;
		display: flex;
		align-items: center;
		gap: 0.25rem;
		&::before {
			order: 1;
			width: 0.875rem;
			height: 0.875rem;
			font-size: 0.75em;
			transition: transform 0.3s ease;
		}
		@media (min-width: $md5) {
			margin-top: 1.5rem;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: translate(0.5rem);
				}
			}
		}
	}
	// .news__more
	&__more {
		width: 100%;
		margin-top: 1.5rem;
		@media (min-width: $md5) {
			margin-top: rem(30);
			min-width: 19.25rem;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			width: fit-content;
		}
	}
}

.faq {
	padding: rem(30) 0 rem(30);
	@media (min-width: $md4) {
		padding: rem(60) 0 rem(30);
	}
	@media (min-width: $md2) {
		padding: rem(100) 0 rem(30);
	}
	// .faq__container
	&__container {
	}
	// .faq__title
	&__title {
	}
	// .faq__list
	&__list {
		margin-top: 2rem;
		@media (min-width: $md5) {
			margin-top: 2.5rem;
		}
	}
	// .faq__item
	&__item {
		counter-increment: faq-item;
		border-bottom: rem(1.5) solid $lightGrey;
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}
	// .faq__item-question
	&__item-question {
		display: flex;
		align-items: center;
		text-align: left;
		width: 100%;
		padding: em(0) em(0) 0.94rem em(0);
		@media (min-width: $md5) {
			align-items: flex-start;
			padding: rem(10) 0 rem(20);
		}
		&::after {
			content: counter(faq-item) "/";
			order: -1;
			flex-shrink: 0;
			width: 1.5rem;
			@media (min-width: $md5) {
				width: 2.5rem;
			}
		}
		&::before {
			order: 1;
			margin-left: auto;
			font-size: 3rem;
			width: 2.5rem;
			height: 2.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #979797;
			transition: transform 0.3s ease, color 0.3s ease;
		}
		&._active {
			&::before {
				transform: rotate(45deg);
				color: $red;
			}
		}
		gap: 0.5rem;
		@media (min-width: $md4) {
			gap: 1.25rem;
		}
	}
	// .faq__item-answer
	&__item-answer {
		color: $grey;
		padding-bottom: rem(20);
		margin-left: 2rem;
		max-width: 80%;
		@media (min-width: $md5) {
			max-width: 64.75rem;
			margin-left: 3.75rem;
		}
	}
}

.products {
	padding: rem(30) 0 rem(30);
	@media (min-width: $md4) {
		padding: rem(60) 0 rem(30);
	}
	@media (min-width: $md2) {
		padding: rem(100) 0 rem(30);
	}
	// .products__container
	&__container {
	}
	// .products__title
	&__title {
	}
	// .products__btns
	&__btns {
		margin-top: rem(30);
		display: flex;
		flex-wrap: wrap;
		gap: rem(20);
	}
	// .products__btn
	&__btn {
		min-width: rem(220);
		&.active {
			background: $red;
			color: $white;
			border-color: $red;
			&:hover {
				background-color: #fe3434;
				border-color: #fe3434;
				color: $white;
			}
			&:active {
				background-color: $violet;
				border-color: $violet;
				color: $white;
			}
		}
	}
	// .products__slider
	&__slider {
		margin-top: 2rem;
		overflow: visible;
		@media (min-width: $md4) {
			margin-top: 2.5rem;
			display: grid;
			gap: rem(30);
			grid-template-columns: repeat(3, 1fr);
			.swiper-wrapper {
				display: contents;
			}
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(5, 1fr);
		}
		.products__pagination {
			@media (min-width: $md4) {
				display: none;
			}
		}
		&--large {
			grid-template-columns: repeat(2, 1fr);
			.product__desc {
				margin-top: rem(20);
				color: #222;
				margin-bottom: auto;
			}
		}
	}
	// .products__pagination
	&__pagination {
	}
	// .products__carousel
	&__carousel {
		margin-top: 1.25rem;
	}
}

.product {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 1.25rem;
	border: rem(1.5) solid #f6f6f6;
	padding: 1.25rem;
	transition: background-color 0.3s ease;
	&.swiper-slide {
		width: 18.4375rem;
		height: auto;
		&.swiper-slide-active {
			background: #f4f7fb;
			.product__image {
				&::before {
					background-color: #fff;
				}
			}
		}
		@media (min-width: $md4) {
			width: 100%;
		}
	}
	@media (any-hover: hover) {
		&:hover {
			background: #f4f7fb;
			.product__image {
				&::before {
					background-color: #fff;
				}
				& img {
					transform: scale(1.15);
				}
			}
		}
	}
	&--large {
		&.swiper-slide {
		}
		&.swiper-slide-active {
			background: #fff;
		}
		.product__image {
			width: 100%;
			background: #f4f7fb;
			border-radius: 0.625rem;
			margin-top: 0;
			margin-left: 0;
			padding: 2rem 1rem;
			height: 19.125rem;
			display: flex;
			justify-content: center;
			align-items: center;
			&::before {
				display: none;
			}
		}
		.product__name {
			margin-top: 1.25rem;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #fff;
			}
		}
	}
	&--row {
		@media (min-width: $md2) {
			flex-direction: row;
		}
		.product__image {
			width: 100%;
			height: auto;
			margin-right: rem(24);
			margin-top: 0;
			margin-left: 0;
			margin-bottom: rem(20);
			@media (min-width: $md2) {
				margin-bottom: 0;
				flex: 0 0 rem(201);
			}

			&::before {
				width: 100%;
				height: 100%;
				background: #f4f7fb;

				border-radius: rem(10);
				top: 0;
				left: 0;
			}
		}
	}
	// .product__image
	&__image {
		position: relative;
		width: 8.0625rem;
		height: 7.3125rem;
		flex-shrink: 0;
		margin-top: 1.38rem;
		margin-left: 0.75rem;
		z-index: 1;
		& img {
			transform: scale(1);
			transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}
		&::before {
			content: "";
			position: absolute;
			top: -1.37rem;
			left: -0.75rem;
			width: 7.9375rem;
			height: 7.9375rem;
			border-radius: 50%;
			background: #f4f7fb;
			transition: background-color 0.3s ease;
			z-index: -1;
		}
		&--center {
			margin-top: 0;
			margin-left: 0;
			margin-bottom: 1rem;
			& ~ .product__btn {
				margin-top: 3rem;
			}
			&::before {
				top: 0;
				left: 0;
			}
		}
	}
	// .product__name
	&__name {
		margin-top: 2.5rem;
		margin-bottom: auto;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	// .product__subtitle
	&__subtitle {
		margin-top: 0.75em;
		font-size: 1.25rem;
		font-weight: 700;
		line-height: 120%;
	}
	// .product__desc
	&__desc {
		margin-top: 0.75rem;
		color: #858585;
		flex: 1 1 auto;
		& + .product__list {
			margin-top: 0.75rem;
		}
	}
	// .product__footer
	&__footer {
		margin-top: 1.25rem;
		display: flex;
		width: 100%;
		flex-direction: column;
		gap: 0.75rem;
		@media (min-width: $md5) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.product__btn {
			margin-top: 0;
		}
	}
	// .product__price
	&__price {
		// display: flex;
		// align-items: flex-end;
		color: #858585;
		font-size: 1rem;
		font-weight: 500;
		line-height: 115%;
	}
	// .product__price-value
	&__price-value {
		color: #222;
	}
	// .product__list
	&__list {
		margin-top: 1.25rem;
		& li {
			display: flex;
			gap: 0.887rem;
			&::before {
				@extend %ic, .icon-check-alternate;
				color: $red;
				width: 1.25rem;
				height: 1.25rem;
				font-size: 1.25rem;
			}
			&:not(:last-child) {
				margin-bottom: 0.75rem;
			}
		}
	}
	// .product__btn
	&__btn {
		margin-top: 1.25rem;
	}
}
