body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: rem($minWidth);
	min-height: 100%;
	line-height: normal;
	color: $text;
	background-color: #fff;
	margin-right: 0 !important;
	&:has(.header.open-menu) {
		@media (max-width: $md3) {
			overflow: hidden;
		}
	}
}

// ================== ОБОЛОЧКА ==============================

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: clip;
}

.page {
	flex: 1 1 auto;
	// overflow: hidden;
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================

[class*="__container"] {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 rem(20);
	@media (min-width: $md5) {
		box-sizing: content-box;
		max-width: rem(540);
	}
	@media (min-width: $md4) {
		max-width: rem(720);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: rem(1140);
	}
	@media (min-width: $md1) {
		max-width: rem(1320);
	}
	@media (min-width: $md0) {
		max-width: $maxWidthContainer;
	}
}

//=============== LAYOUT ===============================

.swiper-button-next,
.swiper-button-prev {
	&::after {
		display: none;
	}
	position: static;
	margin: 0;
	transform: none;
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	z-index: 2;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #858585;
	border: rem(1.5) solid #858585;
	&:disabled,
	&.swiper-button-disabled,
	&[aria-disabled="true"] {
		pointer-events: none;
		opacity: 0.4;
	}
	&.swiper-button-lock {
		display: none;
	}

	@media (any-hover: hover) {
		&:hover {
			background: $white;
			color: $green;
		}
	}
}

.swiper-button-prev {
	@extend %ic, .icon-left;
}
.swiper-button-next {
	@extend %ic, .icon-right;
}

.swiper-pagination {
	margin-top: 2rem;
	position: static;
	bottom: auto;

	display: flex;
	justify-content: center;
	&.swiper-pagination-lock {
		margin-top: 0;
	}
	.swiper-pagination-bullet {
		position: relative;
		width: 0.75rem;
		height: 0.75rem;
		--swiper-pagination-bullet-horizontal-gap: #{rem(6)};
		background: #d9d9d9;
		opacity: 1;
		transition: all 0.3s ease 0s;
		&.swiper-pagination-bullet-active {
			background: $green;
		}
	}
}

.faq {
	padding: rem(100) 0 rem(30);
	// .faq__container
	&__container {
	}
	// .faq__title
	&__title {
	}
	// .faq__list
	&__list {
		margin-top: 2.5rem;
	}
	// .faq__item
	&__item {
		counter-increment: faq-item;
		border-bottom: rem(1.5) solid $lightGrey;
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}
	// .faq__item-question
	&__item-question {
		display: flex;
		gap: 1.25rem;
		text-align: left;
		width: 100%;
		padding: rem(10) 0 rem(20);
		&::after {
			content: counter(faq-item) "/";
			order: -1;
			width: 2.5rem;
			flex-shrink: 0;
		}
		&::before {
			order: 1;
			margin-left: auto;
			font-size: 3rem;
			width: 2.5rem;
			height: 2.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #979797;
			transition: transform 0.3s ease, color 0.3s ease;
		}
		&._active {
			&::before {
				transform: rotate(45deg);
				color: $red;
			}
		}
	}
	// .faq__item-answer
	&__item-answer {
		margin-left: 3.75rem;
		max-width: 64.75rem;
		color: $grey;
		padding-bottom: rem(20);
	}
}
