.footer {
	background: $text;
	color: $white;
	padding: rem(30) 0;
	@media (min-width: $md3) {
		padding: 3.75rem 0 rem(50);
	}
	// .footer__container
	&__container {
	}
	// .footer__header
	&__header {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 2rem;
		@media (min-width: $md4) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}
	}
	// .footer__logo
	&__logo {
	}
	// .footer__contacts
	&__contacts {
		display: flex;
		align-items: center;
		flex-direction: column-reverse;
		gap: 1.5rem;
		@media (min-width: $md5) {
			gap: 2.5rem;
			flex-direction: row;
		}
		// @media (min-width: $md0) {
		// 	padding-right: rem(23);
		// }
		@media (min-width: $md2) {
			padding-right: rem(23);
		}
	}
	// .footer__socials
	&__socials {
		display: flex;
		gap: 1.25rem;
	}
	// .footer__social
	&__social {
		font-size: 2rem;
		transition: color 0.3s ease;
		&.icon-whatsapp {
			color: #3cbc5d;
			@media (any-hover: hover) {
				&:hover {
					color: darken($color: #3cbc5d, $amount: 10);
				}
			}
		}
		&.icon-telegram {
			color: #2290ff;
			@media (any-hover: hover) {
				&:hover {
					color: darken($color: #2290ff, $amount: 10);
				}
			}
		}
	}
	// .footer__phone
	&__phone {
		font-size: 2rem;
		font-weight: 700;
		line-height: 120%;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	// .footer__bottom
	&__bottom {
		margin-top: rem(30);
		display: flex;
		gap: 2rem;
		flex-direction: column;
		@media (min-width: $md3) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
		}
		@media (min-width: $md2) {
			align-items: center;
		}
	}
	// .footer__menu
	&__menu {
		@media (min-width: $md4) {
			max-width: 70rem;
			width: 100%;
		}
		& ul {
			width: 100%;
			display: grid;
			justify-content: space-between;

			grid-template-columns: repeat(2, auto);
			gap: rem(12);
			column-gap: rem(20);
			font-weight: 500;
			line-height: 115%;
			@media (min-width: $md4) {
				gap: 1.25rem;
				column-gap: rem(30);
				grid-template-columns: repeat(3, auto);
			}

			@media (min-width: $md2) {
				grid-template-columns: repeat(5, auto);
			}
			@media (min-width: $md1) {
				grid-template-columns: repeat(6, auto);
				column-gap: rem(60);
			}
			& a {
				transition: color 0.3s ease;
				@media (any-hover: hover) {
					&:hover {
						color: $red;
					}
				}
			}
		}
	}
	// .footer__copy
	&__copy {
		color: $grey;
		font-size: 1.1875rem;
		line-height: 124%;
		text-align: center;
		@media (min-width: $md3) {
			flex-shrink: 0;
			text-align: right;
		}
	}
}
