.footer {
	background: $text;
	color: $white;
	padding: 3.75rem 0;
	// .footer__container
	&__container {
	}
	// .footer__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .footer__logo
	&__logo {
	}
	// .footer__contacts
	&__contacts {
		display: flex;
		align-items: center;
		gap: 2.5rem;
	}
	// .footer__socials
	&__socials {
		display: flex;
		gap: 1.25rem;
	}
	// .footer__social
	&__social {
		font-size: 2rem;
		transition: color 0.3s ease;
		&.icon-whatsapp {
			color: #3cbc5d;
			@media (any-hover: hover) {
				&:hover {
					color: darken($color: #3cbc5d, $amount: 10);
				}
			}
		}
		&.icon-telegram {
			color: #2290ff;
			@media (any-hover: hover) {
				&:hover {
					color: darken($color: #2290ff, $amount: 10);
				}
			}
		}
	}
	// .footer__phone
	&__phone {
		font-size: 2rem;
		font-weight: 700;
		line-height: 120%;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	// .footer__bottom
	&__bottom {
		margin-top: rem(30);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .footer__menu
	&__menu {
		& ul {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			gap: 1.25rem;
			& a {
				transition: color 0.3s ease;
				@media (any-hover: hover) {
					&:hover {
						color: $red;
					}
				}
			}
		}
	}
	// .footer__copy
	&__copy {
		color: $grey;
		text-align: right;
		font-size: 1.1875rem;
		line-height: 124%;
	}
}
