.form {
	// .form__control
	&__control {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
		width: 100%;
		color: $text;
		border-radius: 1.875rem;
		font-size: 1rem;
		padding: 1.25rem;
		border: rem(1.5) solid #f6f6f6;
		background: #fff;
		&::placeholder {
			opacity: 1;
			color: $grey;
		}
		&:hover,
		&:focus {
			border-color: $red;
		}
		&:focus {
			&::placeholder {
				opacity: 0;
			}
		}
		&:disabled {
			background: #ddd;
			border-color: #ddd;
		}
		&._error {
			outline: 1px solid #ba2028;
			background: #fff1ed;
		}
		&:is(textarea) {
			height: rem(100);
			resize: none;
		}
	}

	// .form__checkbox
	&__checkbox {
		margin-top: rem(10);
		display: inline-block;
		width: fit-content;
		max-width: rem(380);
	}
	// .form__checkbox-input
	&__checkbox-input {
		&:checked {
			& + .form__checkbox-text {
				&::before {
					@extend %ic, .icon-check;
				}
			}
		}
		&.error {
			& + .form__checkbox-text {
				&::before {
					border: rem(1) solid $red;
				}
			}
		}
	}

	// .form__checkbox-text
	&__checkbox-text {
		position: relative;
		display: block;
		width: fit-content;
		font-size: 0.75rem;
		line-height: 115%;
		padding: 0 0 0 rem(49);
		cursor: pointer;
		user-select: none;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			border: rem(1.5) solid #f6f6f6;
			background: #fff;
			width: 2.125rem;
			height: 2.125rem;
			border-radius: 0.625rem;
			color: var(--promo-accent, #{$red});
			display: flex;
			justify-content: center;
			align-items: center;
		}
		& a {
			text-decoration: underline;
			white-space: nowrap;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	// .form__bottom
	&__bottom {
		display: flex;
		align-content: center;
		flex-direction: column;
		gap: 1rem;
		@media (min-width: $md4) {
			gap: 1.25rem;
			flex-direction: row;
		}
		.form__checkbox {
			margin-top: 0;
		}
	}
	// .form__btn
	&__btn {
		min-width: 13.75rem;
	}
	// .form__file
	// &__file {
	// }
	// // .form__file-btn
	// &__file-btn {
	// 	position: relative;
	// 	z-index: 1;
	// 	display: flex;
	// 	width: 100%;
	// 	justify-content: center;
	// 	align-items: center;
	// 	text-align: center;
	// 	user-select: none;
	// 	transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
	// 	font-family: $fontfamily;
	// 	font-weight: 450;
	// 	line-height: 137.5%;
	// 	gap: 0.5rem;
	// 	border-radius: 0.625rem;
	// 	padding: 0.7rem 2.44rem;
	// 	min-height: rem(58);
	// 	font-size: 1rem;
	// 	border: rem(1) solid #fff;
	// 	color: #fff;
	// 	cursor: pointer;
	// 	&::before {
	// 		font-size: 2rem;
	// 	}
	// 	@media (any-hover: hover) {
	// 		&:hover {
	// 			background: #fff;
	// 			color: #000;
	// 		}
	// 	}
	// }
}

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	user-select: none;
	transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
	font-size: 1rem;
	font-weight: 500;
	line-height: 115%;
	padding: 1.2rem 1.88rem;
	border-radius: 1.875rem;
	font-family: $fontfamily;
	border: rem(1.5) solid;
	gap: rem(10);

	&:focus-visible {
		box-shadow: 0 0 0 rem(2) $text;
	}

	&::before {
		order: 1;
		font-size: 0.875em;
		width: 0.875em;
		height: 0.875em;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&.btn-primary {
		background: $red;
		color: $white;
		border-color: $red;
		&:hover {
			background-color: #fe3434;
			border-color: #fe3434;
		}
		&:active {
			background-color: $violet;
			border-color: $violet;
		}
		&:disabled,
		&[aria-disabled="true"] {
			cursor: default;
			pointer-events: none;
			border-color: #dadada;
			background-color: #dadada;
		}
	}

	&.btn-primary-outline {
		border-color: $red;
		color: $red;

		&:hover {
			border-color: #fe3434;
			color: #fe3434;
		}
		&:active {
			background-color: $red;
			border-color: $red;
			color: $white;
		}
		&:disabled,
		&[aria-disabled="true"] {
			cursor: default;
			pointer-events: none;
			border-color: #dadada;
			color: #dadada;
		}
	}

	&.btn-secondary {
		background: $green;
		color: $white;
		border-color: $green;

		&:hover {
			background-color: #13aa3a;
			border-color: #13aa3a;
		}
		&:active {
			background-color: $darkGreen;
			border-color: $darkGreen;
		}
		&:disabled,
		&[aria-disabled="true"] {
			cursor: default;
			pointer-events: none;
			background-color: #dadada;
			border-color: #dadada;
		}
	}

	&.btn-grey-outline {
		color: $grey;
		border-color: $grey;

		&:hover {
			border-color: $text;
			color: $text;
		}
		&:active {
			background-color: $text;
			border-color: $text;
			color: $white;
		}
		&:disabled,
		&[aria-disabled="true"] {
			cursor: default;
			pointer-events: none;
			border-color: #dadada;
			color: #dadada;
		}
	}

	&.btn-dark-outline {
		border-color: $text;
		color: $text;

		&:hover {
			border-color: $red;
			color: $red;
		}
		&:active {
			background-color: $red;
			border-color: $red;
			color: $white;
		}
		&:disabled,
		&[aria-disabled="true"] {
			cursor: default;
			pointer-events: none;
			border-color: #dadada;
			color: #dadada;
		}
	}

	&.btn-white {
		background: $white;
		border-color: $white;
		color: $text;

		&:hover {
			background-color: $red;
			border-color: $red;
			color: $white;
		}
		&:active {
			background-color: $violet;
			border-color: $violet;
			color: $white;
		}
		&:disabled,
		&[aria-disabled="true"] {
			cursor: default;
			pointer-events: none;
			border-color: $white;
			background-color: $white;
			background-color: $grey;
		}
	}

	&.btn-sm {
		padding: 0.88rem 1.88rem;
	}
	// &.btn-lg {
	// 	padding-block: 1.06rem;
	// 	@media (min-width: $md3) {
	// 		font-size: 1.375rem;
	// 	}
	// }
	&.btn-fullwidth {
		width: 100%;
		padding-inline: 1rem;
	}

	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		pointer-events: none;
	}
}

// .switcher {
// 	// .switcher__input
// 	&__input {
// 		&:checked {
// 			& + .switcher__btn {
// 				&::before {
// 					left: rem(2);
// 				}
// 				background: #81a6ca;
// 			}
// 		}
// 	}
// 	// .switcher__btn
// 	&__btn {
// 		position: relative;
// 		width: rem(35);
// 		height: rem(20);
// 		border-radius: 6.25rem;
// 		background: #81a6ca;
// 		display: block;
// 		cursor: pointer;
// 		transition: background-color 0.3s ease 0s;
// 		&::before {
// 			content: "";
// 			position: absolute;
// 			top: rem(2);
// 			left: rem(17);
// 			width: rem(16);
// 			transition: left 0.3s ease 0s;
// 			border-radius: 50%;
// 			background: #fff;
// 			height: calc(100% - rem(4));
// 		}
// 	}
// }

// .iti__selected-flag {
// 	background-color: rgba(0, 0, 0, 0.05);
// }

// .select {
// 	position: relative;
// 	& select {
// 		appearance: none;
// 		background: transparent;
// 		border: rem(1) solid $green;
// 		border-radius: rem(6);
// 		color: $text;
// 		font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
// 			"Segoe UI Symbol", "Noto Color Emoji";
// 		display: block;
// 		font-size: 1rem;
// 		font-weight: 500;
// 		height: 100%;
// 		outline: none;
// 		padding: 1em em(37) 1em em(23);
// 		width: 100%;
// 	}
// }
