.header {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #f4f7fb;
		z-index: 10;
		transform: translateX(100%);
		transition: transform 0.3s ease;
		@media (min-width: $md3) {
			display: none;
		}
	}
	&.open-menu {
		&::before {
			transform: none;
		}
	}
	// .header__container
	&__container {
	}
	// .header__top
	&__top {
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: 1.25rem 0rem;

		@media (min-width: $md5) {
			border-bottom: rem(1.5) solid #dadada;
		}
		// @media (min-width: $md2) {
		// 	gap: 1.5rem;
		// }
		// @media (min-width: $md1) {
		// 	gap: 2rem;
		// }
		// @media (min-width: $md0) {
		// 	gap: 3.67rem;
		// }
		@media (min-width: $md2) {
			gap: 3.67rem;
		}
	}
	// .header__menu-toggler
	&__menu-toggler {
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 11;
		margin-right: auto;
		width: 100%;
		margin-left: auto;
		max-width: 10.99456rem;
		@media (min-width: $md5) {
			flex-shrink: 0;
			margin-left: 0;
			order: -1;
		}
		@media (min-width: $md2) {
			max-width: 12.25106rem;
		}
	}
	// .header__nav
	&__nav {
		display: none;
		@media (min-width: $md3) {
			display: block;
		}
	}
	// .header__nav-list
	&__nav-list {
		display: flex;
		gap: 1.5rem;
		// @media (min-width: $md1) {
		// 	gap: 2.5rem;
		// }
		@media (min-width: $md2) {
			gap: 2.5rem;
		}
	}
	// .header__nav-item
	&__nav-item {
	}
	// .header__nav-link
	&__nav-link {
		font-weight: 500;
		line-height: 115%;
		transition: color 0.3s ease;
		@media (min-width: $md2) {
			font-size: 1.125rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
		&.active {
			color: $red;
		}
	}
	// .header__socials
	&__socials {
		display: none;
		@media (min-width: $md5) {
			position: relative;
			z-index: 11;
			display: flex;
			gap: rem(4);
			flex-direction: column;
		}
		// @media (min-width: $md1) {
		// 	gap: rem(14);
		// 	align-items: center;
		// 	flex-direction: row;
		// }
		@media (min-width: $md2) {
			gap: rem(14);
			align-items: center;
			flex-direction: row;
		}
	}
	// .header__socials-title
	&__socials-title {
		display: none;
		@media (min-width: $md2) {
			display: block;
			font-size: 0.875rem;
			line-height: 115%;
			max-width: rem(92);
		}
	}
	// .header__socials-items
	&__socials-items {
		display: flex;
		gap: rem(10);
	}
	// .header__socials-item
	&__socials-item {
		transition: color 0.3s ease;
		@media (min-width: $md5) {
			font-size: rem(45);
		}
		@media (min-width: $md4) {
			font-size: 2rem;
		}
		&.icon-whatsapp {
			color: #3cbc5d;
			@media (any-hover: hover) {
				&:hover {
					color: darken($color: #3cbc5d, $amount: 10);
				}
			}
		}
		&.icon-telegram {
			color: #2290ff;
			@media (any-hover: hover) {
				&:hover {
					color: darken($color: #2290ff, $amount: 10);
				}
			}
		}
	}
	// .header__phone
	&__phone {
		position: relative;
		z-index: 11;
		font-weight: 700;
		line-height: 115%;
		transition: color 0.3s ease;
		flex-shrink: 0;
		font-size: 1.5rem;
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
		& span {
			display: none;
			@media (min-width: $md3) {
				display: inline;
			}
		}
		&::before {
			border-radius: 50%;
			color: #fff;
			background: $red;
			display: flex;
			justify-content: center;
			align-items: center;
			width: rem(45);
			height: rem(45);
			@media (min-width: $md4) {
				width: 2rem;
				height: 2rem;
			}
			@media (min-width: $md3) {
				display: none;
			}
		}
		@media (min-width: $md2) {
			font-size: 1.625rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	// .header__btn
	&__btn {
		display: none;
		@media (min-width: $md4) {
			position: relative;
			z-index: 11;
			display: flex;
			flex-shrink: 0;
			order: -1;
		}
		@media (min-width: $md3) {
			order: 0;
		}
	}
	// .header__menu
	&__menu {
	}
}

.menu {
	background: #f4f7fb;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 9;
	text-align: center;
	overflow-x: hidden;
	overflow-y: auto;
	transition: transform 0.3s ease 0s;
	transform: translateX(100%);

	.header.open-menu & {
		transform: translateX(0);
		@media (min-width: $md3) {
			transform: none;
		}
	}
	padding: 5.75rem 1rem 2rem;

	@media (min-width: $md3) {
		position: relative;
		top: auto;
		left: auto;
		width: 100%;
		height: auto;
		padding: 0;
		transition: none;
		overflow-x: visible;
		overflow-y: visible;
		flex-direction: row;
		align-items: center;
		text-align: left;
		display: flex;
		transform: none;
		flex: 1 1 auto;
		gap: 1.94rem;
		background: transparent;
	}

	// .menu__list
	&__list {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		gap: rem(20);
		justify-content: flex-start;
		width: 100%;
		font-weight: 500;
		line-height: 115%;
		@media (min-width: $md3) {
			gap: 1rem;
			flex-direction: row;
			padding: em(1.44, 1.125) 0;
			font-size: 0.75rem;
		}
		// @media (min-width: $md2) {
		// 	gap: 0.25rem;
		// 	font-size: 0.875rem;
		// 	justify-content: space-between;
		// }
		// @media (min-width: $md1) {
		// 	font-size: 1rem;
		// }
		// @media (min-width: $md0) {
		// 	font-size: 1.125rem;
		// }
		@media (min-width: $md2) {
			font-size: 1rem;
			font-size: 1.125rem;
			justify-content: space-between;
		}
	}
	// .menu__item
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		&--parent {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			gap: 0.5rem;
			@media (any-hover: hover) {
				&:hover {
					color: $red;
					& .submenu {
						@media (min-width: $md3) {
							opacity: 1;
							visibility: visible;
							transform: translate3d(0, 0, 0);
						}
					}

					& .menu__arrow {
						&::before {
							transform: rotate(180deg);
						}
					}
				}
			}
		}
	}
	// .menu__link
	&__link {
		color: currentColor;
		display: inline-block;
		transition: color 0.3s ease 0s;

		font-weight: 500;

		&.active {
			color: $red;
			text-decoration: underline;
			& + .menu__arrow {
				color: $red;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	// .menu__arrow
	&__arrow {
		order: 1;
		display: flex;
		align-items: center;
		color: currentColor;
		width: em(14, 18);
		height: em(14, 18);
		&::before {
			order: 1;
			font-size: 0.75em;
			transition: transform 0.3s ease 0s;
		}
		&.active {
			&::before {
				transform: rotate(180deg);
			}
		}
	}
	// .menu__callback
	&__callback {
		margin-top: 2rem;
		@media (min-width: $md3) {
			margin-top: 0;
			margin-left: 2rem;
		}
		@media (min-width: $md2) {
			margin-left: 5.69rem;
		}
	}
}

.submenu {
	@media (max-width: $md3) {
		margin-top: 1rem;
		flex: 0 0 100%;
		order: 1;
		display: none;

		&.open {
			display: block;
		}
	}

	@media (min-width: $md3) {
		padding-top: 0.5rem;
		top: 100%;
		left: 0;
		position: absolute;
		color: $text;
		z-index: 11;
		width: 100%;
		transform-origin: center top;
		transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
		min-width: rem(280);
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, rem(-7), 0);
		will-change: transform;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: calc(100% - 1rem);
			background: #fff;
			border-radius: 1.25rem;
			border: rem(1.5) solid #f6f6f6;
			z-index: -1;
		}
		@media (hover: none) {
			&.open {
				opacity: 1;
				visibility: visible;
				transform: translate3d(0, 0, 0);
			}
		}
	}

	// .submenu__list
	&__list {
		position: relative;
		color: $text;
		font-weight: 300;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (min-width: $md3) {
			align-items: flex-start;
			padding: 1.5rem 1rem;
		}
	}
	// .submenu__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 0.65rem;
			@media (min-width: $md4) {
				margin-bottom: 1.15rem;
			}
		}
	}
	// .submenu__link
	&__link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	padding: 0;

	z-index: 11;
	height: rem(45);
	min-width: rem(45);
	border-radius: 50%;
	padding: rem(15) rem(12);
	color: #fff;
	background: $red;
	order: -1;
	@media (min-width: $md5) {
		order: 1;
	}
	@media (min-width: $md4) {
		padding: rem(7) rem(8);

		min-width: 2rem;
		height: 2rem;
	}
	@media (min-width: $md3) {
		display: none;
	}
	& span {
		display: block;
		padding: rem(2) rem(0);

		width: 100%;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;
		&::before {
			content: "";
			display: block;
			height: rem(2);
			width: 100%;
			margin-left: auto;
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
		}
	}
	.header.open-menu & {
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
			}
			&:first-child {
				transform: translateY(rem(6));

				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-6));

				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
